/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
/* LEXICAL EDITOR STYLES */
.other h2 {
  @apply text-lg text-[#444] mb-[7px];
}
.other a {
  @apply text-[#777] underline text-sm;
}
.other ul {
  @apply list-none m-0 p-0;
}
.App {
  @apply text-center;
  font-family: sans-serif;
}
.ltr {
  @apply text-left;
}
.rtl {
  @apply text-right;
}
.editor-container {
  @apply border border-[color:var(--muted)] text-black leading-5 font-normal text-left rounded-sm border-solid;
}
.editor-inner {
  @apply relative;
  background: #fff;
}
.editor-input {
  @apply min-h-[400px] resize-none text-[15px] caret-[rgb(5,5,5)] relative caret-[#444] p-10;
  tab-size: 1;
  outline: 0;
}
.editor-placeholder {
  @apply text-[#999] overflow-hidden absolute text-ellipsis text-[15px] select-none inline-block pointer-events-none left-10 top-10;
}
.editor-text-bold {
  @apply font-[bold];
}
.editor-text-italic {
  @apply italic;
}
.editor-text-underline {
  @apply underline;
}
.editor-text-strikethrough {
  @apply line-through;
}
.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}
.editor-text-code {
  @apply bg-[rgb(240,242,245)] text-[94%] px-1 py-px;
  font-family: Menlo, Consolas, Monaco, monospace;
}
.editor-link {
  @apply text-[rgb(33,111,219)] no-underline;
}
.tree-view-output {
  @apply block text-white text-xs whitespace-pre-wrap max-h-[250px] relative overflow-auto leading-[14px] mt-px mb-2.5 mx-auto p-[5px] rounded-br-[10px] rounded-bl-[10px];
  background: #222;
}
.editor-code {
  @apply bg-[rgb(240,242,245)] block leading-[1.53] text-[13px] whitespace-pre overflow-x-auto relative my-2 m-0 pl-[52px] pr-2 py-2 before:content-[attr(data-gutter)] before:absolute before:bg-[#eee] before:text-[#777] before:whitespace-pre-wrap before:text-right before:min-w-[25px] before:p-2 before:border-r-[#ccc] before:border-r before:border-solid before:left-0 before:top-0 after:content-[attr(data-highlight-language)] after:text-[10px] after:uppercase after:absolute after:text-[rgba(0,0,0,0.5)] after:p-[3px] after:right-[3px] after:top-0;
  font-family: Menlo, Consolas, Monaco, monospace;
  tab-size: 2;
}
.editor-tokenComment {
  @apply text-[slategray];
}
.editor-tokenPunctuation {
  @apply text-[#999];
}
.editor-tokenProperty {
  @apply text-[#905];
}
.editor-tokenSelector {
  @apply text-[#690];
}
.editor-tokenOperator {
  @apply text-[#9a6e3a];
}
.editor-tokenAttr {
  @apply text-[#07a];
}
.editor-tokenVariable {
  @apply text-[#e90];
}
.editor-tokenFunction {
  @apply text-[#dd4a68];
}
.editor-paragraph {
  @apply relative mb-2 m-0 last:mb-0;
}
.editor-heading-h1 {
  @apply text-[2rem] mb-3 m-0 p-0;
}
.editor-heading-h2 {
  @apply text-2xl m-0 p-0;
}
.editor-heading-h3 {
  @apply text-xl m-0 p-0;
}
.editor-quote {
  @apply text-[15px] text-[rgb(101,103,107)] ml-5 m-0 pl-4 border-l-[rgb(206,208,212)] border-l-4;
  border-left-style: solid;
}
.editor-list-ol {
  @apply ml-4 m-0 p-0;
}
.editor-list-ul {
  @apply ml-4 m-0 p-0 list-disc;
}
.editor-list-ol {
  @apply ml-4 m-0 p-0 list-decimal;
}
.editor-list-checks {
  @apply ml-4 m-0 p-0 list-disc;
}
.editor-listitem {
  @apply mx-8 my-2;
}
.editor-nested-listitem {
  @apply list-none;
}
pre::-webkit-scrollbar {
  @apply w-2.5;
  background: transparent;
}
pre::-webkit-scrollbar-thumb {
  background: #999;
}
.debug-timetravel-panel {
  @apply overflow-hidden flex m-auto pt-0 pb-2.5 px-0;
}
.debug-timetravel-panel-slider {
  @apply flex-[8] p-0;
}
.debug-timetravel-panel-button {
  @apply flex-1 text-white text-xs p-0 border-0 hover:underline;
  background: none;
}
.debug-timetravel-button {
  @apply text-xs absolute text-white p-0 border-0 right-[15px] top-2.5 hover:underline;
  background: none;
}
.toolbar {
  @apply flex align-middle mb-px p-1 rounded-t-[10px];
  background: #fff;
}
.toolbar button.toolbar-item {
  @apply flex cursor-pointer align-middle p-2 rounded-[10px] border-0 disabled:cursor-not-allowed;
  background: none;
}
.toolbar button.toolbar-item.spaced {
  @apply mr-0.5;
}
.toolbar button.toolbar-item i.format {
  @apply bg-contain inline-block h-[18px] w-[18px] flex opacity-60 mt-0.5;
  vertical-align: -0.25em;
}
.toolbar button.toolbar-item:disabled i.format {
  @apply opacity-20;
}
.toolbar button.toolbar-item.active {
  @apply bg-[rgba(223,232,250,0.3)];
}
.toolbar button.toolbar-item.active i {
  @apply opacity-100;
}
.toolbar .toolbar-item:hover:not([disabled]) {
  @apply bg-[#eee];
}
.toolbar .divider {
  @apply w-px bg-[#eee] mx-1 my-0;
}
.toolbar .toolbar-item .text {
  @apply flex leading-5 align-middle text-sm text-[#777] text-ellipsis w-[70px] overflow-hidden h-5 text-left;
}
.toolbar .toolbar-item .icon {
  @apply flex w-5 h-5 select-none leading-4 bg-contain mr-2;
}
i.undo {
  @apply bg-[url(/assets/icons/arrow-counterclockwise.svg)];
}
i.redo {
  @apply bg-[url(/assets/icons/arrow-clockwise.svg)];
}
i.bold {
  @apply bg-[url(/assets/icons/type-bold.svg)];
}
i.italic {
  @apply bg-[url(/assets/icons/type-italic.svg)];
}
i.underline {
  @apply bg-[url(/assets/icons/type-underline.svg)];
}
i.strikethrough {
  @apply bg-[url(/assets/icons/type-strikethrough.svg)];
}
i.code {
  @apply bg-[url(/assets/icons/code.svg)];
}
i.unordered-list {
  @apply bg-[url(/assets/icons/list-ul.svg)];
}
i.ordered-list {
  @apply bg-[url(/assets/icons/list-ol.svg)];
}
i.list-checks {
  @apply bg-[url(/assets/icons/list-checks.svg)];
}
i.left-align {
  @apply bg-[url(/assets/icons/text-left.svg)];
}
i.center-align {
  @apply bg-[url(/assets/icons/text-center.svg)];
}
i.right-align {
  @apply bg-[url(/assets/icons/text-right.svg)];
}
i.justify-align {
  @apply bg-[url(/assets/icons/justify.svg)];
}
i.h1 {
  @apply bg-[url(/assets/icons/h1.svg)];
}
i.h2 {
  @apply bg-[url(/assets/icons/h2.svg)];
}
i.h3 {
  @apply bg-[url(/assets/icons/h3.svg)];
}
